/* Progress Bars
----------------------------------------------------------*/

.progress {
	@include box-shadow(none);
	@include border-radius(30px);
	height: 34px;
	background-color: $color-grey-2;
	margin-bottom: 18px;

	.progress-bar {
		line-height: 34px;
		@include border-radius(30px);
		text-align: right;
		padding-right: 15px;
		background-color: $color-primary;
		font-family: $font-secondary;
	}
}