/* ---------------------------------------------------------------------------- */
/* --- 3. CONTENT
/* ----------------------------------------------------------------------------- */

#content {
	position: relative;
	padding-top: 140px;

	#photo {
		position: absolute;
		top: 140px;
		width: 370px;

		@media #{$screen-md} {
			width: 300px;
		}
		@media #{$screen-sm} {
			display: none;
		}
	}

	#sections-wrapper {
		margin-left: 370px;
		float: right;

		@media #{$screen-md} {
			margin-left: 300px;
		}
		@media #{$screen-sm} {
			margin-left: 0;
		}
	}

	.page-content {
		padding: 30px;
		background: $color-white;
		margin-bottom: 30px;

		@media #{$screen-xs} {
			padding: 15px;
		}

		.breadcrumb {
			margin-left: -30px;
			margin-right: -30px;
			margin-top: -30px;

			@media #{$screen-xs} {
				margin-left: -15px;
				margin-right: -15px;
				margin-top: -15px;
			}
		}

		.content-title {
			margin-bottom: 40px;
		}
	}

	.sidebar {
		background: $color-white;
	}
}

body.sticky-layout {
	#content #photo {
		position: fixed;
		top: 140px - $topBarHeight;
	}
}

section, .section {
	position: relative;
	margin-bottom: 30px;
	@include transition(all 0.3s ease-out);

	.section-content {
		padding: 60px;

		> h3 {
			margin-bottom: 40px;
		}

		> h3.pull-left+.filter.pull-right {
			margin-top: -18px;
		}

		@media #{$screen-xs} {
			padding: 25px;

			> h3.pull-left {
				float: none !important;
			}

			> h3.pull-left+.filter.pull-right {
				margin-top: 10px;
				text-align: center;
				float: none !important;
			}
		}

		@media #{$screen-xxs} {
			padding: 15px;
		}
	}
}

.section-video {
	background: $color-black;
	color: $color-white;

	.title {
		@include transition(all 0.3s ease-out);
	}

	.btn-play {
		@include transition(all 0.3s ease-out);
		margin: 80px auto 95px;
		display: block;
	}

	&.playing {
		.title {
			@include opacity(0);
			@include translateY(-20px);
			visibility: hidden;
		}

		.btn-play {
			@include opacity(0);
			@include scale(0.5);
			visibility: hidden;
		}
	}
}

@import "_content/blog";
@import "_content/icon-boxes";
@import "_content/media";
@import "_content/other";
@import "_content/testimonials";
@import "_content/timeline";

	